/* Load fonts */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700');

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #009688;
    color: rgba(255, 255, 255, .95);
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

h1 {
    font-size: 2.5em;
    font-weight: 300;
    margin-top: 0;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
}

.contact-form-wrapper {
    padding: 5em 2.5em;
}

.contact-form {
    margin: 0 auto;
    max-width: 480px;
    min-height: 200px;
}

.contact-form .message {
    display: none;
    padding: 1em;
    text-align: center;
}

.contact-form .input-container {
    margin-bottom: 15px;
    position: relative;
}

.contact-form label {
    font-weight: 300;
    margin-bottom: 3px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
}

.contact-form .input-clue {
    bottom: 5px;
    color: #c71515;
    font-size: 13px;
    font-style: italic;
    font-weight: 600;
    position: absolute;
    right: 5px;
}

.contact-form input[type=text],
.contact-form textarea {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #80CBC4;
    color: inherit;
    display: block;
    font-family: inherit;
    font-size: 15px;
    font-weight: 300;
    padding: 10px 5px;
    outline: none;
    width: 100%;

    -webkit-transition: border 373ms;
    -moz-transition: border 373ms;
    -ms-transition: border 373ms;
    -o-transition: border 373ms;
    transition: border 373ms;
}

.contact-form textarea {
    height: 130px;
    resize: none;
}

.contact-form input[type=text]:disabled,
.contact-form textarea:disabled {
    opacity: .75;
}

.contact-form input[type=text]:focus,
.contact-form textarea:focus {
    border-bottom: 2px solid #E0F2F1;
}

.contact-form input[type=text].invalid,
.contact-form textarea.invalid {
    border-bottom-color: #c71515;
}

/* Chrome/Opera/Safari */
.contact-form ::-webkit-input-placeholder { color: rgba(255, 255, 255, .57); }
/* Firefox 19+ */
.contact-form ::-moz-placeholder { color: rgba(255, 255, 255, .57); }
/* IE 10+ */
.contact-form :-ms-input-placeholder { color: rgba(255, 255, 255, .57); }
/* Firefox 18- */
.contact-form :-moz-placeholder { color: rgba(255, 255, 255, .57); }

.contact-form input[type=submit] {
    background-color: #00695C;
    border: none;
    color: inherit;
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-family: inherit;
    font-weight: 400;
    padding: 10px 5px;
    width: 100%;

    -webkit-transition: background-color 375ms;
    -moz-transition: background-color 375ms;
    -ms-transition: background-color 375ms;
    -o-transition: background-color 375ms;
    transition: background-color 375ms;
}

.contact-form input[type=submit]:hover,
.contact-form input[type=submit]:focus {
    background-color: #004D40;
    outline: none;
}

.contact-form.disabled input[type=submit] {
    background-color: #00695C;
    opacity: .75;
    pointer-events: none;
}
